<!DOCTYPE html>
<html ng-app="MyFirsApp">
  <head>
    <meta charset="utf-8">
    <title>Hola Controller</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.min.js" charset="utf-8"></script>
    <script src="controller.js" charset="utf-8"></script>
  </head>
  <body ng-controller="FirstController">
    <input placeholder="Add comment" type="text" ng-model="newComment.comment">
    <br>
    <input placeholder="username" type="text" ng-model="newComment.username">

    <button  ng-click="addComment();"> Add New Comment</button>    
    {{ "Hola " + name}}
    <h3>Comentarios</h3>
    <ul>
      <li ng-repeat="com in comments">
        {{ com.comment }} - <strong> {{ com.username }}</strong>
      </li>
    </ul>
  </body>
</html>
